<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Memorize: A Flashcard Creation App</title>
    <link rel='stylesheet' href='/assets/css/reset.css' />
    <link rel='stylesheet' href='/assets/css/style.css' />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css'
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
    <script src="https://kit.fontawesome.com/fc6bf164a8.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container"><div class='flex-column justify-space-around'>
      <header class='display-flex justify-space-between align-center '>
        <h1 class='navbar-brand is-size-2'>
          <a href='/'>Memorize: A Flashcard Creation App</a>
        </h1>
        <nav class='navbar has-background-link'>
          <ul class='navbar-start'>
            <li class='navbar-item'>
              <a class='has-text-white' href='/dashboard'><i class="fa-solid fa-house"></i> Home</a>
            </li>
            <!-- Conditionally render login or logout links -->
            {{#if logged_in}}
              <li class="navbar-item">
                <a class='has-text-white' href='#' id="logout">Log out</a>
                {{!-- <button class='button is-info is-small' id='logout'>Log out</button> --}}
              </li>
            {{else}}
              <li class='navbar-item'>
                <a class='has-text-white' href='/login'>Log in</a>
              </li>
            {{/if}}
          </ul>
      </header>
      <main class='container container-fluid mt-5'>
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src='/assets/js/logout.js'></script>
    {{/if}}
    </div>
  </body>

</html>