<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Project 2 Boilerplate</title>
    <link rel='stylesheet' href='./public/css/reset.css' />
    <link rel='stylesheet' href='./public/css/style.css' />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css'
    />
  </head>

  <body>
    <div class='flex-column justify-space-around'>
      <header class='display-flex justify-space-between align-center p-2'>
        <h1 class='navbar-brand is-size-2'>
          <a href='/'>Project 2 Example</a>
        </h1>
        <nav class='navbar has-background-link'>
          <ul class='navbar-start'>
            <li class='navbar-item'>
              <a class='has-text-white' href='/'>Home</a>
            </li>
            <li class='navbar-item'>
              <a class='has-text-white' href='/dashboard'>Dashboard</a>
            </li>
            <!-- Conditionally render login or logout links -->
            {{#if logged_in}}
              <li>
                <button class='button is-info is-small' id='logout'>Log out</button>
              </li>
            {{else}}
              <li class='navbar-item'>
                <a class='has-text-white' href='/login'>Log in</a>
              </li>
            {{/if}}
          </ul>
        </nav>
      </header>
      <main class='container container-fluid mt-5'>
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src='./assets/js/logout.js'></script>
    {{/if}}
  </body>

</html>