<section class="card">
    {{!-- we could use this image as a new library to put in top corner of each card created? --}}
    <div class="card-details">
        <h3>Topic: {{collection.name}}</h3>

        <p>Question: {{card.question}}</p>
        <p>Answer: {{card.answer}}</p>

        <p>Date Flashcard was Created: {{ format_date card.date_created}}</p>
    </div>
</section>

{{!-- will have to go and change handlebar syntax to work with what we created --}}