<div class='columns is-centered'>
  <div class='column is-half'>
    <div class='p-2'>
      <center>
        <h2 class='is-size-2 mb-2'>Welcome {{user.name}}</h2>
      </center>
    </div>
  </div>
</div>
<div class='columns is-centered'>
  <div class='column is-half'>
    <center>
      <div class='dropdown is-hoverable'>
        <div class='dropdown-trigger'>
          <button
            class='button'
            style='width:400px;'
            aria-haspopup='true'
            aria-controls='dropdown-menu'
          >
            <span>Collections</span>
            <span class='icon is-small'>
              <i class='fa fa-angle-down' aria-hidden='true'></i>
            </span>
          </button>
        </div>
        <div
          class='dropdown-menu'
          style='width:400px;'
          id='dropdown-menu'
          role='menu'
        >
          <div class='dropdown-content'>
            {{#each collections as |collection|}}
              <a href='/cards/{{collection.id}}' class='dropdown-item'>
                {{collection.name}}</a>
            {{/each}}
          </div>
        </div>

      </div>

      <div style='margin: 5px;'>
        <a href='/new-collection'><i
            class='fa-solid fa-layer-group fa-xl'
          ></i>Add a new collection</a>
      </div>
      <div style='margin: 5px;'>
        <a href='/new-card' title='Add a new card'><i
            class='fa-solid fa-plus fa-xl'
          ></i>Add a new card</a>
      </div>
    </center>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () { var dropdown =
  document.querySelector('.dropdown'); dropdown.addEventListener('click',
  function(event) { dropdown.classList.toggle('is-active'); }); });
</script>