{{#each cards as |card|}}
  <div class='columns is-centered'>
    <div class='column is-half is-centered'>
      <center>
        <div class='card'>
          <div class='card-content'>
            <p class='title'>
              {{card.question}}
            </p>
            <button
              class='toggle-btn button is-success'
              onclick='showHide({{card.id}})'
            >Reveal Answer</button>
            <p class='subtitle' id='{{card.id}}' style='visibility: hidden;'>
              Answer:
              {{card.answer}}
            </p>

          </div>
        </div>
      </center>
    </div>
  </div>
  <br />
{{/each}}

<script src='/assets/js/showHide.js'></script>