<div class='col-md-6'>
  <h2>Create a New Collection</h2>

  <form class='form p-2 new-collection'>
    <div class='form-group p-2'>
      <label for='collection'>Collection Name</label>
      <input class='collection-input' type='text' id='collection' />
    </div>
    <div class='form-group p-2'>
      <button class='button is-success' type='submit'>Create Collection</button>
    </div>
  </form>
</div>

<script src='./assets/js/createCollection.js'></script>