<<<<<<< HEAD
=======
/* .show-hide {
  display: none;
  color: red;
} */

body {
  background-color: lightgrey;
}

.carousel {
  overflow: hidden;
}

.card {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 1.5rem;
}
>>>>>>> b3720e9fa5f2398ca7ef0c5a66cdb40b68b7c3d8
